<html>
    <head><title>Home Page</title></head>
    <body>
        <h1>This is Secret Page</h1>
        <form action="/dashboard" method="post">

            <input type="submit" value="Logout">
        </form>
    </body>
</html>