<html>
    <head>
        <title>Prognoz Attendence Portal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="css/style.css"></link>
    </head>
    <body>
        <%- include('../partials/header.ejs') -%>
        <div class="container-fluid" id="main">
            <div class="row">
                <div class="col-md-6" id="main1">
                    <h1>Attendence Management System</h1>
                </div>
                <div class="col-md-6" id="main2">
               <img src="images/image1.jpg" height="500px">
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') -%>
    </body>
</html>