<header>
    <nav class="navbar navbar-expand bg-dark">
 <!--<img src="../views/images/logo.jpg" class="navbar-brand" alt="Prognoz" width="400px" style="margin-top:0;padding-top:0">-->
 <h1 style="color:white;margin-top:0;padding-top:0">Prognoz Technology</h1>    
 <ul class="nav navbar-nav">
         <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
         <li class="navbar-item"><a href="test">Admin Login</a></li>
         <li class="navbar-item"><a href="faculty">Faculty Login</a></li>
         <li class="navbar-item"><a href="student">Student Login</a></li>
         <li class="navbar-item"><a href="">Contact Us</a></li>
     </ul>
    </nav>
</header>